version: '3.8'

services:
  prometheus:
    container_name: {{ prometheus.container_name }}
    image: {{ prometheus.image }}
    volumes:
      - {{ prometheus.config_dir }}:/etc/prometheus/
      - {{ prometheus.data_dir }}:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--web.console.libraries=/usr/share/prometheus/console_libraries'
      - '--web.console.templates=/usr/share/prometheus/consoles'
      - '--web.enable-lifecycle'
      - '--web.enable-admin-api'
    ports:
      - {{ prometheus.port }}:9090
    restart: unless-stopped

  alertmanager:
    container_name: alertmanager.container_name
    image: {{ alertmanager.image }}
    ports:
      - {{ alertmanager.port }}:9093
    volumes:
      - "{{ alertmanager.config_dir }}:/etc/alertmanager/"
    command:
      - '--config.file=/etc/alertmanager/config.yml'
      - '--storage.path=/alertmanager'
    restart: unless-stopped

  grafana:
    container_name: {{ grafana.container_name }}
    image: {{ grafana.image }}
    depends_on:
      - prometheus
    ports:
      - {{ grafana.port }}:3000
    volumes:
      - {{ grafana.data_dir }}:/var/lib/grafana
    user: "472"
    env_file:
      - ./grafana/config.monitoring
    restart: unless-stopped